<%-include('../cabecalhoadmin.ejs')%>
<div class="container py-5 text-justify">
        <h1 class="py-2 text-center">Lista de Fotos</h1>


        <table class="table">
                <thead class="thead-dark">
                        <th>Título</th>
                        <th>Data</th>
                        <th>Foto</th>
                        <th>Deletar</th>
                </thead>

                <tbody>
                        <%Fotos.forEach((foto)=>{%>
                        <tr>
                                <td><%=foto.titulo%></td>
                                <td><%=moment(foto.data).format('DD/MM/YYYY') %></td>
                                <th><img src="<%=foto.foto%>" style="max-width:50px;" alt="Foto"></th>
                                <td>
                                        <a href="/deletanoticias/<%=foto._id%>">
                                                <span class="material-symbols-outlined">
                                                        delete
                                                </span>
                                        </a>
                                </td>
                        </tr>
                        <%})%>
                </tbody>
        </table>

        <% if(typeof msg !== "undefined"){ %>
        <div class="alert alert-danger mt-2 py-2" role="alert">
                <%=msg%>
        </div>
        <% } %>
        <% if(typeof msgok !== "undefined"){ %>
        <div class="alert alert-primary mt-2 py-2" role="alert">
                <%=msgok%>
        </div>
        <% } %>

</div>
<%-include('../rodapeadmin.ejs')%>