<%-include('../cabecalho.ejs')%>


<div class="container py-5 text-justify">
    <h1 class="py-2 text-center">Notícias</h1>
    
    <div class="card-columns">
        <%Noticias.forEach(function(noticia){%>
        <div class="card">
          <img class="card-img-top" src="<%=noticia.foto%>" alt="Foto da notícia">
          <div class="card-body">
            <h5 class="card-title"><%=noticia.nome%></h5>
            <p class="card-text"><%=noticia.text%></p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Publicado em <%=moment(noticia.data).format('DD/MM/YYYY') %></small>
          </div>
        </div>
        <%})%>
      </div>
</div>



<%-include('../rodape.ejs')%>